checkpointing:
  run_name: local2
  save_every_n_steps: 10

  save_checkpoint_repo_id: null
  # save_checkpoint_repo_id: std_pico_test214
  # hf_collection_slug: yuvalw/relora-pico-6766e4e726eb8811626915c0

  training:
    auto_resume: false
  
  # learning_dynamics:
  #   layer_suffixes: []

model:
  n_layers: 1
  d_model: 48
  activation_hidden_dim: 96

data:
  dataset: pico-lm/pretokenized-dolma-tinsy
  dataloader:
    batch_size: 32
  
monitoring:
  logging:
    log_every_n_steps: 1
  experiment_tracker:
    framework: null

training:
  fabric: 
    accelerator: gpu
    strategy: auto

  learning_rate: 0.001
  max_steps: 100

  optimization:
    lr: 0.001
    lr_warmup_steps: 10

    gradient_accumulation_steps: 4

evaluation:
  metrics: null 
#   paloma:
#     batch_size: 2
#   metrics: null
  