checkpointing:
  run_name: hpc_intr_relora_test_4_gpus
  save_every_n_steps: 10

  save_checkpoint_repo_id: null

  training:
    auto_resume: false
  
  learning_dynamics:
    layer_suffixes: []

model:
  n_layers: 8
  d_model: 768
  activation_hidden_dim: 3072
  relora:
    target_modules: 
      - attention
      - swiglu
    reset_frequency: 10
    r: 64

data:
  dataset: pico-lm/pretokenized-paloma-tinsy
  dataloader:
    batch_size: 32
  
monitoring:
  logging:
    log_every_n_steps: 1
  experiment_tracker:
    framework: wandb
    wandb_project: pico-relora

training:
  fabric: 
    accelerator: gpu
    strategy: auto
    num_nodes: 1
    num_devices: 4

  max_steps: 100

  optimization:
    lr_scheduler: relora_jagged_cosine
    lr: 0.001
    lr_warmup_steps: 5
    min_lr_ratio: 0.1
    restart_warmup_steps: 5

    gradient_accumulation_steps: 1

evaluation:
  metrics: null