checkpointing:
  run_name: local_relora
  save_every_n_steps: 10

  save_checkpoint_repo_id: null # set to null to disable uploading checkpoints to HuggingFace Hub

  training:
    auto_resume: true
  
  learning_dynamics:
    layer_suffixes: []

model:
  n_layers: 2
  relora:
    target_modules: 
      - test
      - test2
      - test3
    reset_frequency: 1000
    r: 256

data:
  dataset: pico-lm/pretokenized-paloma-tinsy
  dataloader:
    batch_size: 1
    mini_batch_size: 1
    max_seq_len: 10
  
monitoring:
  logging:
    log_every_n_steps: 10
  experiment_tracker:
    framework: null

training:
  fabric: 
    accelerator: mps
    strategy: auto

  learning_rate: 0.001
  max_steps: 10

  optimization:
    lr: 0.001
    lr_warmup_steps: 10

    gradient_accumulation_steps: 1

evaluation:
  metrics: null