# Demo config file 
# You can follow this template to create your own config file
# Refer to the config files in the configs/ directory to see all the available options

checkpointing:
  run_name: "pico-relora-small-1"
  save_to_hf: true
  hf_checkpoint:
    repo_id: pico-relora-small
    collection_slug: yuvalw/pico-relora-6766e4e726eb8811626915c0

  learning_dynamics:
    batch_size: 128

model:
    d_model: 384
    activation_hidden_dim: 1536

monitoring:
  save_to_wandb: true
  wandb:
    project: "pico-relora"
    entity: "pico-lm"

training:
  optimization:
    gradient_accumulation_steps: 8

    lr_scheduler: relora_jagged_cosine
    lr_warmup_steps: 2000
    min_lr_ratio: 0.1
    restart_warmup_steps: 100
  
  fabric:
    num_nodes: 4
    num_devices: 4
  
evaluation: 
  metrics:
    - blimp
    - paloma
  paloma:
    batch_size: 16
  blimp:
    batch_size: 16